/* *************************************HEADER STARTS */

header {
  background-color: var(--bb);
  position: relative;
}

/* decoration */
.rectangle {
  display: nones;
}
.bg-left {
  position: absolute;
  top: 45%;
  left: -1%;
  z-index: 1;
}
.b-left {
  width: 50%;
}

.bg-right {
  position: absolute;
  top: 90%;
  right: -80%;
  z-index: 1;
}
.b-right {
  width: 50%;
  transform: rotate(33deg);
}

/* tab */
@media (min-width: 43em) {
  .bg-left {
    position: absolute;
    top: 60%;
    left: -1%;
    z-index: 1;
  }

  .bg-right {
    position: absolute;
    top: 90%;
    right: -30%;
    z-index: 1;
  }

  .b-right {
    width: 50%;
    transform: rotate(60deg);
  }
}

/*tab landscape*/
@media (min-width: 56em) {
}

/* 1024 */
@media (min-width: 75em) {
}

/* 1440 */
@media (min-width: 90em) {
}

/* 1800 */
@media (min-width: 112em) {
}

/*************************************************************END HEADER*************************************/

/*************************************************************NAV STARTS*************************************/

/* Navigation */
nav {
  background-color: var(--tcw);
  height: 6rem;
  /* border: 1px solid var(--g); */
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  margin-inline: 2rem;
}

.logo-click {
  cursor: pointer;
}
.nav-logo {
  width: 11.1rem;
  height: 1.8rem;
}

.menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  color: var(--ng);
  display: none;
  cursor: pointer;
}

/* .menu-items {
  display: none;
} */

.menu-items a {
  color: var(--ng);
  font-size: 1.3rem;
}

.menu-items a:active,
.menu-items a:hover {
  color: var(--bb);
  font-weight: 700;
}
.menu-btn a {
  padding: 1rem 5rem;
  border: 1px solid var(--bb);
  color: var(--bb);
  transition: all 0.3s ease-in-out;
}

.menu-btn a:active,
.menu-btn a:hover {
  padding: 1rem 5rem;
  border: 1px solid var(--bb);
  background-color: var(--hc);
  color: var(--tcw);
}

.nav-menu {
  width: 3rem;
  height: 3rem;
  transition: all 0.2s ease-in-out;
}

/* giving it a shadwo effect */
.nav-menu:active {
  box-shadow: 0 2rem 3rem 3rem var(--g);
  transform: scale(0.2);
}

/*tab landscape*/
@media (min-width: 56em) {
  .nav-container {
    margin: 3rem 16.5rem;
  }
  .menu {
    display: flex;
  }

  .nav-menu {
    display: none;
  }
}

/* mobile sider bar */
.mobile-nav {
  /* position */
  position: fixed;
  top: 0;
  right: -26rem;
  width: 26rem;
  height: 100vh;
  background-color: var(--bb);
  color: var(--tcw);
  padding: 2rem;
  /* display */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.5rem;
  transition: 0.35s ease;
  z-index: 1000;
  border: 1px solid var(--tcw);
}

/* active */
.mobile-nav.active {
  right: 0;
}

.close-btn {
  margin-top: 4rem;
  border: none;
  background-color: var(--tcw);
  align-self: flex-end;
  transition: all 0.2s ease;
}
.close-btn:active {
  box-shadow: 0 2rem 3rem 3rem var(--g);
  transform: scale(0.2);
}
.close-icon {
  width: 2.4rem;
  height: 2.4rem;
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 2.5rem;
  margin-top: 4rem;
  font-size: 1.8rem;
  font-weight: bold;
}

.mobile-menu-list li:active,
.mobile-menu-list li:hover {
  padding: 1rem 2rem;
  border: 1px solid var(--tc);
  border-radius: 10px;
}

.menu-btn-mobile a {
  padding: 1rem 5rem;
  border: 1px solid var(--bb);
  color: var(--bb);
  background-color: var(--tcw);
  transition: all 0.3s ease-in-out;
}

.menu-btn-mobile a:active,
.menu-btn-moile a:hover {
  padding: 1rem 5rem;
  border: 1px solid var(--bb);
  background-color: var(--hc);
  color: var(--tcw);
}

/* ****************************************NAV END ********************** */

/************************************HERO SECTION******************************** */
.hero-section {
  display: flex;
  /* width: 100rem; */
  flex-direction: column-reverse;
  gap: 3rem;
  z-index: 100;
}

.left {
  display: flex;
  flex-direction: column;
  margin-inline: 2rem;
  color: var(--tcw);
  align-items: center;
  text-align: center;
  margin-bottom: 8rem;
}

.hero-heading {
  font-family: var(--ff2);
  font-weight: 800;
  font-size: 4.8rem;
  letter-spacing: -0.5;
  line-height: 150%;
  margin-top: 8rem;
  animation: moveInLeft 5s 2;
}

.hero-subHeading {
  font-size: 1.6rem;
  line-height: 165%;
  margin-top: 1.6rem;
  animation: moveInRight 5s 2;
}

.hero-btn {
  margin-top: 3.2rem;
  border: 1px solid var(--tcw);
  background-color: var(--bb);
  color: var(--tcw);
  font-size: 1.6rem;
  padding: 2rem 4rem;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  animation: moveUp 5s 2;
}

.hero-btn:active,
.hero-btn:hover {
  border: none;
  background-color: var(--tcw);
  color: var(--bb);
}

/* tab */
@media (min-width: 43em) {
  .hero-heading {
    font-size: 6rem;
  }
}

/*tab landscape*/
@media (min-width: 56em) {
  .hero-section {
    display: flex;
    /* width: 100rem; */
    flex-direction: row;
    gap: 0rem;
    z-index: 100;
  }
}

/* 1024 */
@media (min-width: 75em) {
}

/* 1440 */
@media (min-width: 90em) {
}

/* 1800 */
@media (min-width: 112em) {
}

/* ***************************HERO END ******************** */
