:root {
  /* colors */
  --tcw: #ffffff;
  --hc: #2c2830;
  --g: #837d88;
  --ng: #979797;
  --bb: #2d2641;
  /* fonts */
  --ff1: "Karla", sans-serif;
  --ff2: "DM Serif Display", serif;
}

/* defaults */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: var(--ff1);
  scroll-behavior: smooth;
  overflow-x: hidden;
  color: var(--g);
  overflow-x: hidden;
}

/* utilities */
.container {
  max-width: 110rem;
  margin: 0 auto;
  padding: 0 16.5rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}
img {
  width: 100%;
  display: inline-block;
}

/* animation */

/* animations */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    opacity: 1;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    opacity: 1;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes moveUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
